extends layout

block content
  h1= title
  p Welcome to #{title}

  script.
    var socket = io('http://localhost:3000');
    socket.on('connect', function(){
      console.log('connected' );
    });
    socket.on('event', function(data){});
    socket.on('disconnect', function(){});
